/*
Michael Farrell
ITMD 362 - Project 2
Professor Stolley

   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ---Site Styles--- */

html {
  background-color: #d32828;
  font-family: sans-serif, serif;
  padding: 1em, .75em;
}

body {
  padding: 1em, 1em;
}

img {
  max-width: 75%;
}

ul {
  padding: 2em, 1em;
  text-align: center;
  width: 100%;
}

li {
  padding: .5em;
}

footer {
  text-align: center;
  padding; 2em;
}

/* ---Media States---*/

/* phone */
@media screen and (min-width: 23.438em) {
  html {
    font-size: 1em;
  }
  
  ul {
    padding: .5em;
  }
  
  li {
    padding: .5em;
  }
}
  
  footer {
    padding: .5em;
  }
  
}

/* tablet */
@media screen and (min-width: 48em) {
  html {
    font-size: 2em;
  }
  
  footer {
    padding: 1em;
  }
}

/* ---Input Styling--- */

form {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
}

input {
  border: solid;
  padding: .5em;
}

label {
  display: block;  
}

#email, #name, #zipcode, #submit{
  margin: 1em;
  border: solid;
  text-align: left;
}