
/*
Michael Farrell
Ariel Young
ITMD 362 - Project 2
Professor Stolley

   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ---Site Styles--- */

html {
  background-color: #CC0000;
  font-family: sans-serif, serif;
  padding: 1em, .75em;
  text-align: center
}
#page_struct{
  margin: 0;
  padding: 0;
}
#body{
  background-color: white;
  width:100%;
}
#header {
  border-bottom: #cc0000 solid .23em;
  line-height: 5em;
}
body {
  padding: 1em, 1em;
  margin: 0em;
}
#body > p {
  text-align: justify;
}
#detailed-list {
  display: none;
}
#footer {
  margin: 0;
  padding: .23em;
  border-top: #cc0000 solid .23em;
}
#fin_aid_info li {
  padding:.12em;
  text-align: left;
}

li .title {
  font-weight: bold;
  font-size: 1.2em;
}

img {
  max-width: 75%;
}

ul {
  padding: 2em, 1em;
  width: 100%;
}
h1 {
  font-size: 2.7em;
  color: white;

}
h2 {
  font-size: 1.5em;
}
li {
  padding: .5em;
}

div {
  padding: 1em;
  font-size: 1.25em;
  display: block;
  width: 100%;
}

label {
  display: inline-block;
  color: #262626;
  font-weight: bolder;
}
#navi_bar li {
  display: inline-block;
  padding: 0em 1.3em;
}
#payment_components {
  text-align: left;
}
.option:hover {
  color: white;
  background-color: #CC0000;

}
.active {
  color: #CC0000;
}
.active {
cursor: default;
}
#navi_bar {
  width:100%;
  margin: 0;
  padding: 0;
  line-height: 1em;
  border-top: .01em solid black;
  border-bottom: .01em solid black;
  background-color: white;
  cursor: pointer;
}
input[type='number'] {
    -moz-appearance:textfield;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input {
}
#footer span {
  display: block;
}
h2 > button {
  background-color: white;
  color: #CC0000;
  border: #CC0000 .01em solid;
}
h2 > button:hover {
  cursor: pointer;
}
#pay_box {
  display: none;
  padding: .3em;
}
/* ---Media States---*/

/* phone */
@media screen and (min-width: 320px) {
  html {
    font-size: 1em;
    line-height: 1em;
  }
  html h1 {
    padding-top: .25em;
    line-height: .95em;
  }
  label, input {
    font-size: 1.15em;
  }
  label {
    display: none;
  }
  ul, li {
    padding: .5em;
  }
  #footer {
    padding: .5em;
    color: white;
  }
  #footer a img {
    display: inline;
    width: 35%;
    padding: 1.5em;
  }
  #footer p {
    display: inline;
    padding: 1.5em 0;
  }
  #navi_bar {
    padding: .35em 0;
  }
  #navi_bar > .option {
    display: none;
  }
  #fin_aid_info *, #print_det  {
    display: none;
  }
  #body h2 {
    padding: .25em;
  }
  #info > h2:hover {
    cursor: pointer;
  }

}

/* tablet */
/*@media screen and (min-width: 320px) {
  html {
    font-size: 1em;
  }

  #footer {
    padding: 1em;
  }
}
*/
/* ---Input Styling--- */

form {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
}

input {
  border: solid;
  padding: .5em;
}


#email, #name, #zipcode, #submit{
  margin: 1em;
  border: solid;
  text-align: left;
}
@media screen and (min-width: 800px) {
  body {
    margin: 0em 5em;
    }
  h1 {
    font-size: 5em;
    }
  label {
    font-size: 1.3em;
    }
  }
}
